.logorow {
    margin:0 auto;
    max-width: $global-width;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.logorow__item {
    width: 10rem;
    padding:1rem;
    max-width:33.333%;
}
.clientlogo {
	position: relative;

	height: 0;
	//background-color: red;
	margin: 0 auto;
	padding: 0 0 66.666%;
	 > img {
		position: absolute;
		top: 50%;
		left: 0;
		left: 50%;

		width: 100%;
		max-width: 75%;
		//max-height: 90%;

		transform: translateX(-50%) translateY(-50%);
	}
	figcaption {
		display: none;
	}
}
