.presslist {
    margin: 0;
    padding: 0;

    list-style-type: none;

    counter-reset: press-counter;
    > li {
        display: block;

        margin: 0;
        padding: 0;

        counter-increment: press-counter;
        &:not(:last-child) {
            //border-bottom:1px solid $light-gray;
        }
    }
}

.presslink {
    padding: .5em 0 .75em;
    font-size: .75rem;
    @include breakpoint(large) {
        font-size: .875rem;
    }
    //background-color: $medium-gray;
}
.presslink__title {
    font-family: $body-font-family;
    font-weight: $global-weight-bold;
    font-family: $header-font-family;
    font-size: 1em;

    margin: 0;
    padding: 0;
    &:before {
        content: counter(press-counter) '. ';
    }
    a {
        color: inherit;
        &:hover,
        &:focus {
            color: $secondary-color;

        }
    }
}
.presslink__src {
    font-size: 1em;
    //font-weight: $global-weight-bold;

    margin: 0 0 0 0rem;
}
.presslink__src__medium {
    //font-weight: $global-weight-bold;
}
.presslink__src__date {
    &:before {
        content: ' | ';
        //font-weight: $global-weight-bold;
        //color:$alert-color;
    }
}
