.bupapslider {

}

.bupapslider, .bupapslider .owl-stage {
  overflow: hidden;
  height:12rem;
  max-height: 40rem;
  @include breakpoint(tablet) {
    height:20rem;
  }
  @include breakpoint(xlarge) {
    height:50vh;
    min-height: 20rem;

  }
}

.bupapslider__img {
  height:12rem;
  width:auto !important;
  max-width: none;
      max-height: 40rem;
  display: block;
  @include breakpoint(tablet) {
    height:20rem;
  }
  @include breakpoint(xlarge) {
    height:50vh;
    min-height: 20rem;
  }
}

.slidernav.owl-nav {
  [class*=owl-] {
      display: inline-block;
      height:1.333rem;
      width:1.333rem;
      font-size: 1.333rem;
      padding:0;
      background-color: $dark-gray;
      color:$white;
      line-height: 1.125rem;
      text-align: center;
      user-select: none;
      &:hover, &:focus {
        background-color: $alert-color;
        color:$white;
        cursor: pointer;
      }
      &:first-child() {
        margin-right: 1px;
      }
  }
}

.owl-slider {
  .owl-nav {
    margin:0;
    position: absolute;
    //top:50%;
    top:1rem;
    right:1rem;
    //background-color: blue;
    //transform: translateY(-50%);
    [class*=owl-] {
      height:1.5rem;
      width:1.5rem;
      font-size: 1.5rem;
      padding:0;
      background-color: $warning-color;
      color:$white;
      line-height: 1.333rem;
      text-align: center;
    }
  }
}