.stickynav {
    width: 100%;

    color: $dark-gray;
    border-bottom: 1px solid $light-gray;
    //background-color: $white;
    background-color: scale-color($light-gray, $lightness: $callout-background-fade);
    &.is-stuck {
        background-color: $white;
        box-shadow: 0 0 1rem 0 rgba(#000, .125);
    }
}

.stickynav__inner {
    position: relative;

    overflow-x: scroll;

    height: 3rem;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    @include breakpoint(large) {
        height: 3.5rem;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.stickynav__themenu {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
}
