@import 'ps';
@import 'sitefooter';
@import 'mobilenavcanvas';
@import 'pagewrap';

.doubledcols {
  @include breakpoint(tablet) {
    columns: 2;
    column-gap: rem-calc(30);
  }
  p {
    break-inside: avoid;
  }
  margin-bottom: $paragraph-margin-bottom;
}
