.mobilenavcanvas {
  background-color: $alert-color;
  color:$white;
}

.mobilenav {
  margin:2rem .5rem 5rem .75rem;
}

.mobilecontact {
  padding:2rem 0 0;
  border-top: 2px solid rgba(#fff,1);
  font-size: .875rem;
  margin:5rem 1.75rem 2rem 1.75rem;
  a {
    color:$warning-color;
  }
}