.mobilenavcanvas {
  background-color: $alert-color;
  color:$white;
}

.mobilenav {
  margin:2rem .5rem 2rem .75rem;
}

.mobilecontact {
  //font-size: .875rem;
  margin:3rem 1.75rem 2rem 1.75rem;
  a {
    color:$warning-color;
  }
}