.woocommerce-cart-form {
  .product-quantity {
    width: 4.5rem;
  }
}

form.woocommerce-checkout {
    margin-top:2rem;
}


ul.wc_payment_methods {
    list-style: none;
    margin:0 0 2.5rem;
    padding:0;
}

li.wc_payment_method {
    display: block;
    @include clearfix();
    margin:0 0 .875rem;
    padding:0 0;
    > input[name="payment_method"] {
        float: left;
        margin: .333rem .875rem 0 0;

        + label {
            max-width:90%;
            margin:0;
        }
    }

    label {
        font-size: 1rem;
        font-weight: $global-weight-bold;
    }
    .payment_box {
        clear:both;
        @include clearfix();
        font-size: .875rem;
        > * {
            &:last-child() {
                margin-bottom: 0;
            }
        }
    }
}

ul#shipping_method {
    list-style: none;
    margin:0;
    padding:0;
    > li {
        display: block;
    }
}

.wc-terms-and-conditions {
    //margin:0 0 1rem;
    label {
        @include clearfix();
        line-height: 1;
        input {
            float:left;
            margin-bottom: 0;
        }
        span {
            float:left;
        }
    }
}

.woocommerce-NoticeGroup {
    @include callout-base;
}



// SINGLE PRODUCT PAGE

.product__summary {
    input[type="number"] {
        max-width: 4em;
    }
    
    .quantity {
        .screen-reader-text {
            position: static!important;
            width: auto;
            height: auto;
            overflow: auto;
            clip: auto;

        }
    }

}

.product__meta {
    font-size:.75rem;
}


.productcard {
    position: relative;
    padding:.5rem .5rem 2rem;
    background: #fff;
    border:1px solid $light-gray;
    box-shadow: 0 0 1.5rem 0 rgba(#000,.125);
    margin-bottom:1.5rem;
    .woocommerce-loop-product__title {
       color:$body-font-color;
       margin-top:.5em; 
    }
    .shopitem__lead {
        color:$body-font-color;
        font-weight: $global-weight-normal;
    }
    .price {
        display: block;
        font-size: 1.333rem;
        margin-bottom:1em;
        font-weight: $global-weight-bold;
        color:$body-font-color;
    }


}

.projectcard__more {
    margin:0;
    position: absolute;
    bottom:.5rem;
    left:.5rem;
    right:.5rem;

}